---
---

<footer>
    <div class="info">
        <p>
            Un espacio de formación integral desde los valores humano-cristianos para jóvenes universitarias.
        </p>

        <div class="address">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_52_2269)">
				<path d="M12.5 11.4786C11.6949 11.4786 10.9227 11.1625 10.3534 10.5999C9.78412 10.0373 9.46429 9.27426 9.46429 8.47861C9.46429 7.68296 9.78412 6.9199 10.3534 6.35729C10.9227 5.79468 11.6949 5.47861 12.5 5.47861C13.3051 5.47861 14.0773 5.79468 14.6466 6.35729C15.2159 6.9199 15.5357 7.68296 15.5357 8.47861C15.5357 8.87258 15.4572 9.26269 15.3046 9.62666C15.1521 9.99064 14.9285 10.3214 14.6466 10.5999C14.3647 10.8785 14.03 11.0995 13.6617 11.2503C13.2934 11.401 12.8987 11.4786 12.5 11.4786ZM12.5 0.0786133C10.2457 0.0786133 8.08365 0.963611 6.48959 2.53892C4.89553 4.11422 4 6.2508 4 8.47861C4 14.7786 12.5 24.0786 12.5 24.0786C12.5 24.0786 21 14.7786 21 8.47861C21 6.2508 20.1045 4.11422 18.5104 2.53892C16.9163 0.963611 14.7543 0.0786133 12.5 0.0786133Z" fill="white"/>
				</g>
				<defs>
				<clipPath id="clip0_52_2269">
				<rect width="24" height="24" fill="white"/>
				</clipPath>
				</defs>
				</svg>
            <p class="address-detail">
                Plaza Tarija No. 1275 (Av. América esq. Av. G. Galindo)
            </p>
        </div>
    </div>

    <div class="links">
       <ul>
			<li>
				<a href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M12.001 2C17.524 2 22.001 6.477 22.001 12C22.001 17.523 17.524 22 12.001 22C10.2338 22.003 8.49759 21.5353 6.97101 20.645L2.00501 22L3.35701 17.032C2.46597 15.5049 1.99791 13.768 2.00101 12C2.00101 6.477 6.47801 2 12.001 2ZM8.59301 7.3L8.39301 7.308C8.2637 7.31691 8.13735 7.35087 8.02101 7.408C7.91258 7.46951 7.81357 7.5463 7.72701 7.636C7.60701 7.749 7.53901 7.847 7.46601 7.942C7.09613 8.4229 6.89698 9.01331 6.90001 9.62C6.90201 10.11 7.03001 10.587 7.23001 11.033C7.63901 11.935 8.31201 12.89 9.20001 13.775C9.41401 13.988 9.62401 14.202 9.85001 14.401C10.9534 15.3724 12.2683 16.073 13.69 16.447L14.258 16.534C14.443 16.544 14.628 16.53 14.814 16.521C15.1052 16.5056 15.3895 16.4268 15.647 16.29C15.7779 16.2223 15.9056 16.1489 16.03 16.07C16.03 16.07 16.0723 16.0413 16.155 15.98C16.29 15.88 16.373 15.809 16.485 15.692C16.569 15.6053 16.639 15.5047 16.695 15.39C16.773 15.227 16.851 14.916 16.883 14.657C16.907 14.459 16.9 14.351 16.897 14.284C16.893 14.177 16.804 14.066 16.707 14.019L16.125 13.758C16.125 13.758 15.255 13.379 14.723 13.137C14.6673 13.1128 14.6077 13.0989 14.547 13.096C14.4786 13.0888 14.4094 13.0965 14.3442 13.1184C14.279 13.1403 14.2192 13.176 14.169 13.223C14.164 13.221 14.097 13.278 13.374 14.154C13.3325 14.2098 13.2753 14.2519 13.2098 14.2751C13.1443 14.2982 13.0733 14.3013 13.006 14.284C12.9408 14.2666 12.877 14.2446 12.815 14.218C12.691 14.166 12.648 14.146 12.563 14.11C11.9889 13.8599 11.4574 13.5215 10.988 13.107C10.862 12.997 10.745 12.877 10.625 12.761C10.2316 12.3842 9.88876 11.958 9.60501 11.493L9.54601 11.398C9.50427 11.3338 9.47005 11.265 9.44401 11.193C9.40601 11.046 9.50501 10.928 9.50501 10.928C9.50501 10.928 9.74801 10.662 9.86101 10.518C9.97101 10.378 10.064 10.242 10.124 10.145C10.242 9.955 10.279 9.76 10.217 9.609C9.93701 8.925 9.64767 8.24467 9.34901 7.568C9.29001 7.434 9.11501 7.338 8.95601 7.319C8.90201 7.31233 8.84801 7.307 8.79401 7.303C8.65974 7.2953 8.5251 7.29664 8.39101 7.307L8.59301 7.3Z" fill="white"/>
				</svg></a>
			</li>
			<li>

				<a href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.62 10.79C8.06 13.62 10.38 15.93 13.21 17.38L15.41 15.18C15.68 14.91 16.08 14.82 16.43 14.94C17.55 15.31 18.76 15.51 20 15.51C20.55 15.51 21 15.96 21 16.51V20C21 20.55 20.55 21 20 21C10.61 21 3 13.39 3 4C3 3.45 3.45 3 4 3H7.5C8.05 3 8.5 3.45 8.5 4C8.5 5.25 8.7 6.45 9.07 7.57C9.18 7.92 9.1 8.31 8.82 8.59L6.62 10.79Z" fill="white"/>
				</svg></a>
			</li>
			<li>

				<a href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M4 20C3.45 20 2.97933 19.8043 2.588 19.413C2.19667 19.0217 2.00067 18.5507 2 18V6C2 5.45 2.196 4.97933 2.588 4.588C2.98 4.19667 3.45067 4.00067 4 4H20C20.55 4 21.021 4.196 21.413 4.588C21.805 4.98 22.0007 5.45067 22 6V18C22 18.55 21.8043 19.021 21.413 19.413C21.0217 19.805 20.5507 20.0007 20 20H4ZM12 13L20 8V6L12 11L4 6V8L12 13Z" fill="white"/>
				</svg></a>
			</li>
		</ul>
    </div>


    <div class="logo">
        <p>LOS MOLLES</p>
    </div>

    <small>
        <p>© 2026 Residencia Los Molles</p>
        <p>Desarrollado por CODE BY V</p>
    </small>

</footer>

<style>
    footer{
        margin: 0px;
        padding: 24px;
        background-image: url(/footer.webp);
        background-size: cover;
        height: 75vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    footer::after {
		content: "";
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.65);
		
	}

	
    footer > * {
		position: relative;
		z-index: 1;
	}

    p, 
	a{
		font-family: "Lato", sans-serif;

    }

    .address{
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    ul{
        display: flex;
        gap: 24px;
        list-style: none;
		padding: 0;
        margin: 0%;
    }

    .logo > p{
        font-size: 80px;
        font-family: "Montserrat", sans-serif;
        font-weight: 900;
        color: rgba(255, 255, 255, 0.25);
        line-height: 80px;
    }

</style>