---
---

<header class="nav-bar">
    <span class="logo">LOS MOLLES</span>

    <nav>
        
    </nav>
    
    <div class="buttons">
        <a class="cta" 
        href="https://api.whatsapp.com/send?phone=59177935606&text=Hola,%20tienen%20cuartos%20disponibles?"
        target="_blank"
        rel="noopener">
            Contactar
        </a>
        <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 11H19M1 6H19M1 1H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
    


</header>

<style>
    .nav-bar{
        background-color: rgba(33, 32, 27, 0.95);
        position: fixed;
        z-index: 100;
        display: flex;
        width: calc(100vw - 80px);
        margin: 24px;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
    }

    .buttons{
        display: flex;
        gap: 15px;
        align-items: center;
    }



    .logo{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 16px;
    }

    .cta{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        border: 0cm;
        border-radius: 15px;
        font-size: 14px;
        padding: 5px 7px;
        background-color: rgba(255, 255, 255, 0.75);
        text-decoration: none;
        color: black;
    }

    .cta:active{
        background-color: rgba(33, 32, 27);
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
</style>
