---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';



---

<main>
	
	<section class="hero-banner">

		<div class="hero-bg"></div>
		<div class="hero-content">
			<h1>Residencia Universitaria Fememina en Cochabamba</h1>
			<a class="button" href="https://api.whatsapp.com/send?phone=59177935606&text=Hola,%20tienen%20cuartos%20disponibles?"
        	target="_blank"
        	rel="noopener">
				Solicitar Plaza
			</a>
			<p class="scroll-text">Desliza para más información</p>
		</div>
		

		<hr class="divider">
		<p class="text-right">
			Tu espacio seguro en Cochabamba. Exclusivo para estudiantes universitarias, a pasos de la Plazuela Tarija
		</p>
	</section>
	<section class="benefits">
		<h2>¿Qué encontraras en Los Molles?</h2>
		<div class="benefit b1">
			<h3>
				1. Todo listo para tu llegada
			</h3>
			<div class="description">
				<div class="detail">
					<h4>Habitación equipada</h4>
					<p>Cama, escritorio y ropero empotrado.</p>
				</div>
				<div class="detail">
					<h4>Baño compartido</h4>
					<p>Espacios limpios y organizados.</p>
				</div>
				<div class="detail">
					<h4>WiFi</h4>
					<p>Conexión para estudiar y mantenerte conectada.</p>
				</div>
				<div class="detail">
					<h4>Áreas comunes</h4>
					<p>Cocina, lavandería, sala de estudio, sala de TV y salón multiusos.</p>
				</div>
			</div>
		</div>

		<div class="benefit b2">
			<h3>2. Ambiente Familiar y Seguro</h3>
			<p>Un entorno protegido con horarios establecidos (ingreso hasta las 22:30 hrs) para garantizar la tranquilidad de tu familia.</p>
		</div>

		<div class="benefit b3">
			<h3>3. Formación en Valores</h3>
			<p>Más que un alojamiento, ofrecemos un espacio de formación integral basado en el respeto, la responsabilidad y los valores humano-cristianos.</p>
		</div>

		<div class="benefit b4">
			<h3>4. Convivencia y Comunidad</h3>
			<p>Fomentamos la solidaridad y el trabajo en equipo a través de actividades formativas y responsabilidades compartidas en nuestras áreas comunes.</p>
		</div>
	</section>

	<section class="common-spaces">
		<h2>Espacios Comunes</h2>
		<div class="images">
			<div class="column is">
				<img src="/i1.webp" alt="" class="tl">
				<img src="/i2.webp" alt="" class="tr">
			</div>
			<div class="column c">
				<img src="/i3.webp" alt="" class="icx cl">
				<img src="/i4.webp" alt="" class="ic cc">
				<img src="/i3.webp" alt="" class="icx cr">
			</div>

			<div class="column is">
				<img src="/i5.webp" alt="" class="bl">
				<img src="/i6.webp" alt="" class="br">
			</div>
		</div>
	</section>

	<section class="location">
		<h2>Ubicación y Contacto</h2>
		<ul>
			<li><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M12.001 2C17.524 2 22.001 6.477 22.001 12C22.001 17.523 17.524 22 12.001 22C10.2338 22.003 8.49759 21.5353 6.97101 20.645L2.00501 22L3.35701 17.032C2.46597 15.5049 1.99791 13.768 2.00101 12C2.00101 6.477 6.47801 2 12.001 2ZM8.59301 7.3L8.39301 7.308C8.2637 7.31691 8.13735 7.35087 8.02101 7.408C7.91258 7.46951 7.81357 7.5463 7.72701 7.636C7.60701 7.749 7.53901 7.847 7.46601 7.942C7.09613 8.4229 6.89698 9.01331 6.90001 9.62C6.90201 10.11 7.03001 10.587 7.23001 11.033C7.63901 11.935 8.31201 12.89 9.20001 13.775C9.41401 13.988 9.62401 14.202 9.85001 14.401C10.9534 15.3724 12.2683 16.073 13.69 16.447L14.258 16.534C14.443 16.544 14.628 16.53 14.814 16.521C15.1052 16.5056 15.3895 16.4268 15.647 16.29C15.7779 16.2223 15.9056 16.1489 16.03 16.07C16.03 16.07 16.0723 16.0413 16.155 15.98C16.29 15.88 16.373 15.809 16.485 15.692C16.569 15.6053 16.639 15.5047 16.695 15.39C16.773 15.227 16.851 14.916 16.883 14.657C16.907 14.459 16.9 14.351 16.897 14.284C16.893 14.177 16.804 14.066 16.707 14.019L16.125 13.758C16.125 13.758 15.255 13.379 14.723 13.137C14.6673 13.1128 14.6077 13.0989 14.547 13.096C14.4786 13.0888 14.4094 13.0965 14.3442 13.1184C14.279 13.1403 14.2192 13.176 14.169 13.223C14.164 13.221 14.097 13.278 13.374 14.154C13.3325 14.2098 13.2753 14.2519 13.2098 14.2751C13.1443 14.2982 13.0733 14.3013 13.006 14.284C12.9408 14.2666 12.877 14.2446 12.815 14.218C12.691 14.166 12.648 14.146 12.563 14.11C11.9889 13.8599 11.4574 13.5215 10.988 13.107C10.862 12.997 10.745 12.877 10.625 12.761C10.2316 12.3842 9.88876 11.958 9.60501 11.493L9.54601 11.398C9.50427 11.3338 9.47005 11.265 9.44401 11.193C9.40601 11.046 9.50501 10.928 9.50501 10.928C9.50501 10.928 9.74801 10.662 9.86101 10.518C9.97101 10.378 10.064 10.242 10.124 10.145C10.242 9.955 10.279 9.76 10.217 9.609C9.93701 8.925 9.64767 8.24467 9.34901 7.568C9.29001 7.434 9.11501 7.338 8.95601 7.319C8.90201 7.31233 8.84801 7.307 8.79401 7.303C8.65974 7.2953 8.5251 7.29664 8.39101 7.307L8.59301 7.3Z" fill="white"/>
				</svg>
				<a href="#">77935606</a>
			</li>
			<li><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.62 10.79C8.06 13.62 10.38 15.93 13.21 17.38L15.41 15.18C15.68 14.91 16.08 14.82 16.43 14.94C17.55 15.31 18.76 15.51 20 15.51C20.55 15.51 21 15.96 21 16.51V20C21 20.55 20.55 21 20 21C10.61 21 3 13.39 3 4C3 3.45 3.45 3 4 3H7.5C8.05 3 8.5 3.45 8.5 4C8.5 5.25 8.7 6.45 9.07 7.57C9.18 7.92 9.1 8.31 8.82 8.59L6.62 10.79Z" fill="white"/>
				</svg>

				<a href="#">4242925</a>
			</li>
			<li><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M4 20C3.45 20 2.97933 19.8043 2.588 19.413C2.19667 19.0217 2.00067 18.5507 2 18V6C2 5.45 2.196 4.97933 2.588 4.588C2.98 4.19667 3.45067 4.00067 4 4H20C20.55 4 21.021 4.196 21.413 4.588C21.805 4.98 22.0007 5.45067 22 6V18C22 18.55 21.8043 19.021 21.413 19.413C21.0217 19.805 20.5507 20.0007 20 20H4ZM12 13L20 8V6L12 11L4 6V8L12 13Z" fill="white"/>
				</svg>

				<a href="#">ruflosmolles@gmail.com</a>
			</li>
			<li><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_52_2269)">
				<path d="M12.5 11.4786C11.6949 11.4786 10.9227 11.1625 10.3534 10.5999C9.78412 10.0373 9.46429 9.27426 9.46429 8.47861C9.46429 7.68296 9.78412 6.9199 10.3534 6.35729C10.9227 5.79468 11.6949 5.47861 12.5 5.47861C13.3051 5.47861 14.0773 5.79468 14.6466 6.35729C15.2159 6.9199 15.5357 7.68296 15.5357 8.47861C15.5357 8.87258 15.4572 9.26269 15.3046 9.62666C15.1521 9.99064 14.9285 10.3214 14.6466 10.5999C14.3647 10.8785 14.03 11.0995 13.6617 11.2503C13.2934 11.401 12.8987 11.4786 12.5 11.4786ZM12.5 0.0786133C10.2457 0.0786133 8.08365 0.963611 6.48959 2.53892C4.89553 4.11422 4 6.2508 4 8.47861C4 14.7786 12.5 24.0786 12.5 24.0786C12.5 24.0786 21 14.7786 21 8.47861C21 6.2508 20.1045 4.11422 18.5104 2.53892C16.9163 0.963611 14.7543 0.0786133 12.5 0.0786133Z" fill="white"/>
				</g>
				<defs>
				<clipPath id="clip0_52_2269">
				<rect width="24" height="24" fill="white"/>
				</clipPath>
				</defs>
				</svg>


				<a href="#">Plaza Tarija No. 1275 (Av. América esq. Av. G. Galindo)</a>
			</li>
		</ul>
		<p>Nos encontramos en Cochabamba, Zona Tupuraya</p>
		

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.7843539859455!2d-66.1432676!3d-17.3741067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e375000ecc6c3f%3A0x89e40d9606436857!2sResidencia%20Universitaria%20Los%20Molles!5e0!3m2!1sen!2sbo!4v1774624592480!5m2!1sen!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="Ubicacion de la residencia los molles"></iframe>

	</section>

	<section class="faq">
		<h2>Preguntas Frecuentes (FAQ)</h2>

		<div class="questions">
			<details>
				<summary>¿La residencia es solo para mujeres?</summary>
				<p>Sí, es una residencia exclusivamente femenina.</p>
			</details>
			
			<details>
				<summary>¿Cuáles son los horarios de entrada y salida?</summary>
				<p>
				La residencia abre sus puertas a las 6:00 am y cierra a las 22:00 hrs,
				de lunes a domingo. Solo se permiten excepciones justificadas por
				motivos estrictos de estudio.
				</p>
			</details>

			<details>
				<summary>¿Cómo puedo solicitar una plaza en la residencia?</summary>
				<p>
				El proceso consta de dos entrevistas con el Equipo Coordinador.
				La primera es informativa y requiere la presencia de los padres
				o un tutor responsable. La segunda confirma el interés y culmina
				con la firma del compromiso de convivencia.
				</p>
			</details>

			<details>
				<summary>¿Se permite el ingreso de visitas?</summary>
				<p>
				Las visitas de familiares o amigos son bienvenidas en la sala de
				estar hasta las 22:00 hrs. Por seguridad y privacidad de todas,
				está prohibido el ingreso de personas ajenas a la residencia al
				segundo y tercer piso donde están las habitaciones.
				</p>
			</details>

			<details>
				<summary>¿Debo colaborar con la limpieza de la casa?</summary>
				<p>
				Sí, la limpieza de la habitación propia es responsabilidad de cada
				residente. Además, todas las residentes se turnan para limpiar la
				cocina y el comedor una vez por semana.
				</p>
			</details>

			<details>
				<summary>¿Se permite cocinar en la residencia?</summary>
				<p>
				Sí, contamos con una cocina equipada y refrigeradoras para uso
				compartido. Cada residente dispone de casilleros designados para
				guardar sus alimentos.
				</p>
			</details>

		</div>
		


	</section>
</main>
<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(ScrollTrigger);

	gsap.to(".hero-bg",{
		scale:1.25,
		y:450,
		scrollTrigger:{
			trigger:".hero-bg",
			start: "top 0%",
			end: "bottom 0%",
			toggleActions: "restart none none none",
			scrub:1,
			markers: true
		}
	})

	gsap.to(".images",{
		scale:2,
		y:150,
		scrollTrigger:{
			trigger:".images",
			start: "top 29%",
			end: "bottom 100%",
			toggleActions: "restart none none none",
			scrub:3,
			markers: true
		}
	})

	
</script>

<style>
	main{
		background-color: #162D24;
	}

	h1,
	h2,
	h3,
	h4{
		font-family: "Roboto", sans-serif;
		color: white;
	}

	h1{
		font-size: 32px;
		font-weight: 600;
		text-align: center;
	}

	h2{
		text-align: center;
		font-size: 28px;
	}

	h3{
		font-size: 24px;
	}
	h4{
		font-size: 20px;
	}

	p, 
	a,
	summary{
		font-family: "Lato", sans-serif;
	}
	
	section{
		padding-top: 10vw;
	}

	.button{
		font-size: 20px;
		padding: 15px;
		background-color: rgba(33, 32, 27, 0.95);
		color: white;
		border: 0cm;
		text-decoration: none;
	}

	.button:active{
		background-color: rgba(33, 32, 27, 0.5);
		color: rgba(255, 255, 255, 0.75);
	}


	.hero-banner{
		height: 125%;
		overflow: hidden;
		padding: 24px;
		position: relative;
		
	}
	
	.hero-bg{
		background-image: url("1.webp");
  		background-size: cover;
		background-position: center;
		position: absolute;
		
		inset: 0;
		z-index: 0;
		height: 89%;
	}

	

	.divider{
		position: relative;
		z-index: 1;
		height: 2px;
		background-color: white;
	}
	
	.hero-banner::after {
		content: "";
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.4); 
		z-index: 0;

	}

	.bg-video {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 0;
		
	}


	.hero-content{
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 32px;
		align-items: center;
		padding-top: 60px;
		position: relative;
		z-index: 10;
	}

	.scroll-text{
		font-family: "Lobster", sans-serif;
		color: rgba(240, 248, 255, 0.75);
		font-weight: 100;
	}

	.text-right{
		text-align: right;
		font-size: 20px;
		position: relative;
		z-index: 10;
	}

	.benefits{
		
	}

	.benefit{
		height: 75vh;
		position: sticky;
		padding: 24px;
		padding-bottom: 30%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-position: center;
		background-size: cover;
	}

	.benefit::after {
		content: "";
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.65);
		
	}

	
	.benefit > * {
		position: relative;
		z-index: 1;
	}

	.benefit > :nth-child(2) {
		text-align: right;
		font-size: 18px;
	}
	
	.detail{
		margin-bottom: 16px;
		
	}
	.detail > *{
		padding: 0px;
		margin: 0px;
	}


	.b1{
		background-image: url(/b1.webp);
		z-index: 2;
		top:0vh;
	}
	.b2{
		background-image: url(/b2.webp);
		z-index: 3;
		top: 12vh;
	}
	.b3{
		background-image: url(/b3.webp);
		background-position: 30% center;
		z-index: 4;
		top: 24vh;
	}
	.b4{
		background-image: url(/b4.webp);
		z-index: 5;
	}

	.common-spaces{
		background-color: black;
		height: 100vh;
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.images{
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: space-between;
	}

	.column{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.is{
		height: 29vh;
		width: 100%;
	}

	.is > *{
		width: 49vw;
		object-fit: cover;
	}

	.tl{
		border-bottom-right-radius: 25px;
	}

	.tr{
		border-bottom-left-radius: 25px;
	}

	.bl{
		border-top-right-radius: 25px;
	}

	.br{
		border-top-left-radius: 25px;
	}

	.c{
		height: 40%;
	}

	.icx{
		width: 19%;
		object-fit: cover;
	}
	.cl{
		object-position: left;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
	}

	.cr{
		object-position: right;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}

	.cc{
		width: 58%;
		object-fit: cover;
		border-radius: 25px;
	}

	.location{
		padding: 24px;
		padding-bottom: 10vw;
		position: sticky;
		top: 0;
		z-index: 0;
	}
	
	ul{
		list-style: none;
		padding: 0;
	}

	li{
		display: flex;
		gap: 15px;
		padding-bottom: 14px;
		align-items: center;
		
	}
	li>a{
		text-decoration: none;
		color: white;
	}

	iframe {
		max-width: 100%;
	}

	.faq{
		padding: 24px;
		background-color: #212325;
		padding-bottom: 10vw;
		position: relative;
	}

	summary{
		font-size: 18px;
		font-weight: 500;
		list-style: none;
	}

	summary::before {
		content: "  ▾ ";
		padding-right: 10px;
	}

	.questions{
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.questions > *{
		
		padding-bottom: 12px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}
	
</style>
